/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #eaeaea;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0;
  background-image: url(images/Whitney.jpg);
}
.left > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 20%;
  height: 20%;
  width: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 5rem;
  color: #eaeaea;
}
.left > div > img {
  height: 6rem;
  width: 6rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  text-align: left;
}
.right > p {
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 3px 5px grey;
  background-color: white;
  margin-top: -7rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  width: min(30%, 50vh);
  border: none;
}
fieldset > div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
fieldset > div > label {
  font-size: 0.8rem;
  font-weight: 550;
}

input {
  border: solid 1.5px grey;
  border-radius: 3px;
}
input:focus {
  box-shadow: 2px 2px 5px grey;
  border-color: black;
  outline: none;
}

.error {
  border-color: red;
}

fieldset,
.opener,
.account {
  padding: 1rem 4rem;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: -7rem;
}
.account button {
  margin: 1rem 0;
}

.account-create {
  height: 4rem;
  width: 20%;
  border-radius: 10px;
  background-color: #576475;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  outline: none;
}

.log-in {
  width: 10;
}/*# sourceMappingURL=style.css.map */